---
version: 2

updates:
  - package-ecosystem: "github-actions"
    cooldown:
      default-days: 7
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Europe/Berlin"
    labels:
      - 'dependabot :rage4:'
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "gomod"
    cooldown:
      default-days: 7
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Europe/Berlin"
    labels:
      - 'dependabot :rage4:'
    open-pull-requests-limit: 20
    groups:
      go:
        patterns:
          - "*"
